{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'forgot_password.css' %}">
    
</head>
<body>
    <div class="container">
        <h2>Forgot Password</h2>
        {% if messages %}
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form method="post" action="{% url 'password_otp_verification' %}">
            {% csrf_token   %}
            <label for="email">Enter your email:</label>
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit">Submit</button>
        </form>
        <a href="{% url 'login' %}" class="back-link">Back to Login</a>
    </div>
</body>
</html>
